/*slateblue*/
@import '../abstracts/variables';

.chid-component {
  position: relative;
  z-index: 100;
}
.taxotron-container {
  position: relative;
  height: 41rem;
  background-color: $cardColor;
  width: 95%;
  overflow: hidden;
  margin-right: 1rem;
}
.taxotron-heading {
  position: absolute;
  top: 21%;
  left: 3rem;
  font-size: 4.7rem;
  color: white;
}
.taxotron-sub-heading {
  position: absolute;
  top: 35%;
  margin-left: 4rem;
  margin-right: 4rem;
  font-size: 1.8rem;
  color: white;
}
.taxotron-small-image {
  position: absolute;
  top: 28rem;
  left: 12.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: -10px 10px 7px 2px rgba(102, 96, 96, 0.76);
  background-color: $smallCircleFill;
}

.taxotron-large-image {
  position: absolute;
  top: 25rem;
  left: -4rem;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-image: linear-gradient(to right, $bigCicleFill, $cardColor);
}
