$bodyColor: #e5e5e5;
$bgColor: #e7e7ff;
$cardBgColor: #ffffff;
$cardColor: #8477c9;
$smallCircleFill: #e7e7ff;
$smallCicleShadow: #847bb6;
$bigCicleFill: #dad8f8;
$fontColorPrimary: #000000;
$fontColorSecondary: #8477c9;
$disableFieldColor: #e4e4e4;

$fontSize: 62.5%;
